

/* footer */

footer {
    background-color: #181a1d;
    color: white;
    padding: 40px 20px;
    margin-top: 40px;
}


footer h3 {
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 7px;
}

.footer-h3 {
    margin-bottom: 40px;

}

.subscribe-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 7px;
}

footer input {
    background-color: #dcdddd;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 10px;
    width: 100%;
}

footer button {
    color: white;
    background-color: #f25035;
    font-size: 17px;
    padding: 8px 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}


.subscribe p {
    color: #6c757d;
    font-size: 12px;
}

.footer-nav div img {
    width: 50px;
    margin: 15px 0;
}

.footer-nav h5 {
    text-transform: uppercase;
    font-size: 16px;
}

.footer-nav ul {
    margin: 12px 0;
}

.footer-nav ul li a {
    color: #fff;
    font-size: 14px;

}

.footer-content {
    margin-top: 40px;
}

.footer-content-bottom .footer-nav:last-child ul {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    margin-top: 15px;
}

.footer-nav:last-child i {
    font-size: 18px;
}

.footer-content-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.footer-content-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-top: 12px;
}

.footer-last {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}


@media only screen and (min-width: 500px) {
    

    footer {
        padding: 40px 40px;
    }

}



@media only screen and (min-width: 768px) {
 
    

    .footer-div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        column-gap: 40px;
    }


    .subscribe {
        width: 50%;
    }

    .footer-content {
        background-color: #1c1c1c;
        background-image: url(../images/VYBE_logo.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: auto;

    }

    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;

    }

   
    .footer-content-bottom {
        margin-top: 0;
    }

    .footer-last {
        text-align: left;
    }
}