/* cards */

.title {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin: 50px auto;
    width: 90%;
    font-family: robotoBold;
    line-height: 1;
    margin-bottom: 20px;
}

.our-clints hr {
    width: 15%;
    margin: auto;

    background: black;
    height: 5px;
}

.gold {
    background: linear-gradient(-20deg, #b97426, #fbb263 59%, #d08738);
    padding: 15px;
    padding-left: 28%;
}

.red {
    background-color: var(--color-red);
    padding: 15px;
    padding-left: 28%;
}

.yellow {
    background-color: var(--color-yellow);
    padding: 15px;
    padding-left: 28%;
}

.card {
    color: white;
    position: relative;
    margin: 40px auto;
}

.card-img {
    filter: drop-shadow(10px 10px 1px rgba(31, 31, 31, 0.8));
    margin-top: 10px;
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 55px;
}

.card h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    font-family: robotoBold;
    margin-bottom: 7px;
    text-align: right;
    padding-top: 35px;
}

.card h5 {
    font-family: robotoBold;
    color: #212529;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.4;
    text-align: right;
}

.images {
    width: 90%;
    margin: auto;

    column-count: 1;
}

.images img {
    border-radius: 5px;
    transition: all 0.09s ease-in-out;
    margin-bottom: 50px;
}

.images img:hover {
    transform: scale(1.1);
}

.cta {
    background-color: #212529;
    width: max-content;
    padding: 10px 20px;
    margin: 15px auto;
}

.cta a {
    color: white;
    font-family: robotoBold;
}

@media only screen and (min-width: 550px) {
    .images {
        column-count: 2;
    }

    .card-img {
        width: 50px;
    }

    .card-img {
        top: 42%;
    }

    .images img {
        margin-bottom: 30px;
        width: 95%;
    }
}

@media only screen and (min-width: 786px) {
    .images {
        column-count: 3;
    }

    .card-img {
        width: 55px;
    }

    .card h3 {
        font-size: 42px;
    }

    .card h5 {
        font-size: 20px;
    }

    .title {
        font-size: 50px;
    }
}

@media only screen and (min-width: 994px) {
    .images {
        max-width: 1000px;

    }

    .card h3 {
        text-align: center;
        padding-top: 20px;

    }

    .card h5 {
        text-align: center;
        padding-bottom: 20px;
    }

    .card div {
        padding: 15px;
    }

    .card-img {
        width: 65px;
    }
}

@media only screen and (min-width: 1400px) {
    .card-img {
        width: 80px;
    }
}