:root {
    --color-pink: #dc3545;
    --color-red: #f25035;
    --color-yellow: #ffd119;
    --color-brown: #dc9441;
    --color-blue: #1dbddc;
    --color-green: #28a745
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: mandoulFont;
    src: url(../fonts/MANDOULBRUSHPERSONALUSEONLY-REGULAR.otf);
}

@font-face {
    font-family: robotoBold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoRegular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotoThin;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: robotoBlack;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}



body {
    font-family: robotoRegular;

}

img {
    width: 100%;
}

.container {
    width: 90%;
    margin: auto;
}

p,
li,
a,
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.4;
}





.cta-red {
    background-color: #ff6262;
    color: white;
    display: block;
    width: 50%;
    margin: 25px auto;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-radius: 7px;

}


/* home-badges */

.home-badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.home-badges img {
    width: 24%;
    margin: auto;
}


/* check my vybe */

.check {
    width: 75%;
    margin: auto;
    margin-bottom: -25px;
    margin-left: 10px;
    margin-top: 50px;
}

.check-my-vybe h2 {
    font-size: 80px;
    text-transform: uppercase;
    color: #ffd900;
    text-align: center;
    font-weight: 900;
    margin: 0;
    margin-bottom: -12px;
    line-height: 1;

}

.check-my-vybe ul li img {
    width: 40px;
}

.check-my-vybe ul li h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    color: #212529;

}

.check-my-vybe ul li {
    margin-bottom: 25px;
}

.check-my-vybe ul li p {
    margin-top: 10px;
    color: #999;
}

.check-my-vybe .last {
    font-weight: 700;
    font-size: 18px;
}

.check-my-vybe .last span {

    color: var(--color-pink);
}


/* cards */

.title {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-size: 27px;
    margin: 50px auto;
    width: 90%;
    font-family: robotoBold;

}

.title span {
    color: var(--color-pink);

}

.gold {
    background: linear-gradient(-20deg, #b97426, #fbb263 59%, #d08738);
    width: 75%;
    margin-left: -17%;
    padding: 25px;
    padding-left: 28%;
}

.red {
    background-color: var(--color-red);
    width: 75%;
    margin-right: -17%;
    padding: 25px;
    padding-right: 28%;
    margin-left: 6%;
}

.yellow {
    background-color: var(--color-yellow);
    width: 75%;
    margin-left: -17%;
    padding: 25px;
    padding-left: 28%;
}

.card {
    display: grid;
    grid-template-columns: 80px 1fr;
    color: white;
    margin: 40px auto;
}

.card.reverse {
    display: grid;
    grid-template-columns: 1fr 80px;
    color: white;
    margin: 40px auto;
}

.card img {
    filter: drop-shadow(13px 22px 1px rgba(31, 31, 31, .8));
    margin-top: 10px;
}

.card h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    font-family: robotoBold;
    margin-bottom: 7px;

}

.card h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
}

.black-text {
    color: black;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
}

.card-cta {
    margin-top: 12px;
}

.card a {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

/* banner-sexy */
.banner-sexy {
    position: relative;
    margin-top: 70px;
}


.turn-sexy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

}

.turn-sexy h3 {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    line-height: 1;
    font-family: robotoBold;

}




.switch_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    margin-top: 25px;
    background-color: #b3b3b3;
    width: max-content;
    margin: auto;
    border-radius: 75px;
    padding: 10px;
}

.button1 {
    color: #b3b3b3;
    line-height: 1;
    font-family: robotoBold;
    font-size: 100px;
    border-radius: 51px;
    font-weight: 700;
}

.button2 {
    height: 87px;
    width: 87px;
    background-color: #fff;
    border-radius: 50px;

}

.scrolled.toggle {
    animation: toggle 1s 0s ease-in-out both;
}

@keyframes toggle {


    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

}

.scrolled.change {

    animation: change2 1s 0.7s ease-in both;

}

@keyframes change2 {

    0% {
        color: #cfcfcf;
    }

    100% {
        color: white;
    }
}





/* love-summer */


.love-summer h2 {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    margin: 25px 0;
    font-size: 35px;
    font-weight: 900;
    font-family: robotoBold;

}

.love-summer h2 img {
    width: 45px;
}


.love-summer p {
    color: #212529;
    line-height: 1.5;
    margin: 0 0 20px;
    text-align: center;
}

/* products */
.product {
    margin-bottom: 50px;
}

.product h2 {
    font-family: robotoBold;
    font-size: 90px;
    text-align: center;
    margin-bottom: -33px;
    z-index: 2;
    position: relative;
    font-weight: 700;
}

.product-gold {
    color: var(--color-brown);
}

.product-yellow {
    color: var(--color-yellow);
}

.product-red {
    color: var(--color-red);
}

.red-background {
    background-color: var(--color-red);
}

.yellow-background {
    background-color: var(--color-yellow);
}

.gold-background {
    background: -webkit-linear-gradient(-20deg, #b97426, #fbb263 59%, #d08738);
}

.product-div {
    color: white;
    margin-top: -3px;
    padding: 25px 5%;
}

.product-div h3 {
    font-size: 30px;
}

.product-div p {
    font-size: 22px;
    line-height: 1;
    font-weight: 800;
}

.product-div ul {
    margin-left: 40px;
    margin-top: 20px;
}

.product-div ul li {
    list-style-type: disc;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-div ul li b {
    display: block;
    font-size: 18px;
    text-transform: uppercase;

}

.product-cta {
    text-align: center;
    width: 50%;
    margin: auto;
    text-transform: uppercase;
    margin-bottom: -45px;
}

.product-cta a {
    background-color: #212529;
    display: block;
    color: white;
    font-weight: 700;
    padding: 9px 20px;
    font-size: 18px;
    border-radius: 5px;
    animation: pulse 1s infinite;

}

@keyframes pulse {

    0% {
        box-shadow: 0 0 0 5px #fff;
        /* -webkit-box-shadow: 0 0 0 5px #fff; */
    }

    100% {
        box-shadow: 0 0 0 20px transparent;
        /* -webkit-box-shadow: 0 0 0 20px transparent; */
    }

}

/* banner-aft */

.banner-aft-first {
    position: relative;
}

.banner-aft-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

.banner-aft-div h2 {
    color: var(--color-blue);
    text-transform: uppercase;
    font-size: 35px;
    font-family: robotoBold;
    font-weight: 900;
    margin-bottom: -5px;
}

.slide-in-top {
    animation: slide-in-top .8s ease-in-out 0s both;
}

.slide-in-right {
    animation: slide-in-right .8s ease-in-out 0s both;
}

.slide-in-left {
    animation: slide-in-left .8s ease-in-out 0s both;
}

.banner-aft-div p {
    font-family: robotoBold;
    color: var(--color-blue);
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}

.banner-aft-div p:nth-child(2) {
    color: black;
}

.banner-aft-first img {
    opacity: 0.4;
}

.hydation24 {
    width: 40%;
    margin: auto;
    margin-right: 5%;
    display: block;
    margin-bottom: -33%;
    z-index: 2;
    position: relative;
}

@keyframes slide-in-top {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* formula */
.formula {
    margin-top: 100px;
}

.formula h3 {
    margin-top: -40px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.formula h3 span {
    color: var(--color-pink);
}

.formula-text p {
    margin-bottom: 20px;
    color: #212529;
    line-height: 1.5;
    font-size: 14px;
}

.formula-text p b {
    font-size: 17px;

}

.formula-text {
    margin-top: 30px;
}

.formula img {
    margin-top: 25px;
}

/* typography */

.typography-div {
    margin-top: 80px;
}

.typography-div h2 {
    font-family: Roboto Condensed, sans-serif;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

}

.typography-div h2:first-child {
    color: #ffd2ab;
    font-size: 130px;
}

.typography-div img {
    width: 90%;
    margin: auto;
    display: block;
}

.typography-div h2:last-child {
    color: #bb6400;
    font-size: 160px;
}

/* best-sellers */

.carousel-description {
    text-align: center;
}

.carousel-best-sellers .title {
    margin-bottom: 10px;
}

.sw-div {
    width: 75%;
    margin: auto;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 430px; */
    /* height: 100%; */
    min-height: 470px;
}


div.swiper-button-next,
div.swiper-button-prev {
    color: black;
    width: calc(var(--swiper-navigation-size) / 22 * 2);
    font-weight: 900;
}

div.swiper-button-next::after,
div.swiper-button-prev::after {
    font-size: 30px;

}

.sw-product {
    width: 90%;
    margin: auto;
    display: block;
}


.discount-badge {
    align-items: center;
    background-color: #f25035;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 20px;
    height: 50px;
    justify-content: center;
    position: absolute;
    width: 50px;
    z-index: 3;
}

.free {
    background-color: var(--color-green);
    width: max-content;
    color: white;
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin: auto;
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
}

.sw-text {
    text-align: center;

}

.sw-text h3 {
    text-transform: uppercase;
    font-size: 20px;
}

.sw-text p:nth-child(2) {
    font-size: 12px;
    line-height: 1.4;
    width: 70%;
    margin: auto;
}

.sw-text p:nth-child(3) {
    margin: 7px auto;
}

.old-price {
    text-decoration: line-through;
    color: #858585;
    font-size: 17px;

}

.price {
    font-size: 20px;
    font-weight: 700;

}

.save {
    color: #4caf50;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}

.sw-cta {
    background-color: #212529;
    border-radius: 7px;
    padding: 7px 15px;
    margin: 10px auto;
}

.sw-cta a {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}


/* cta-banner */

.cta-banner h2 {
    color: #212529;
    font-family: Roboto Condensed, sans-serif;
    font-size: 64px;
    line-height: 1.2;
    text-align: left;
}




@keyframes word-rotator-rotate-1-in {
    0% {
        opacity: 0;
        transform: rotateX(180deg)
    }

    35% {
        opacity: 0;
        transform: rotateX(120deg)
    }

    65% {
        opacity: 0
    }

    to {
        opacity: 1;
        transform: rotateX(1turn)
    }
}

@keyframes word-rotator-rotate-1-out {
    0% {
        opacity: 1;
        transform: rotateX(0deg)
    }

    35% {
        opacity: 1;
        transform: rotateX(-40deg)
    }

    65% {
        opacity: 0
    }

    to {
        opacity: 0;
        transform: rotateX(180deg)
    }
}

@keyframes slide-in-left {

    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}


/* cta-banner */
.cta-banner {
    text-transform: uppercase;
    margin-top: 40px;

}

.cta-banner h2 {
    font-family: robotoBold;
    font-weight: 900;
    letter-spacing: -0.065px;
}

.cta-banner span {
    background-color: var(--color-pink);
    color: white;
    display: block;
    width: max-content;
    padding: 7px 10px;
}

.last-cta {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    background-color: #212529;
    color: white;
    margin-top: 30px;
    padding: 7px 15px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 5px;
}



.mobile {
    display: block;
}

.desktop {
    display: none;
}

.mobile994 {
    display: block;
}

.desktop994 {
    display: none;
}

@media only screen and (min-width: 500px) {
    .check {
        width: 60%;
    }

    .product-div ul {
        margin-bottom: 35px;
    }

    .banner-aft-second {
        width: 60%;
        margin: auto;
    }

    .typography-div img {
        width: 60%;
    }

    .title {
        font-size: 30px;
    }

    .sw-div {
        width: 80%;
    }

    .sw-text p:nth-child(2) {
        width: 100%;
    }

    .last-cta {
        width: 50%;
        margin-left: 0;
    }
 
}

@media only screen and (min-width: 768px) {

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .home-badges {
        width: 60%;
        margin: auto;
        column-gap: 10px;
    }

  

    .cta-red {
        width: 35%;
    }

    .check {
        width: 40%;
    }

    .check-my-vybe-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-top: 5px;
    }

    .check-my-vybe .last {
        text-align: center;
        margin-top: 20px;
    }

    .gold {
        width: 80%;
    }

    .card img {
        filter: drop-shadow(10px 14px 1px rgba(31, 31, 31, .8));
        width: 100%;
    }



    .product {
        width: 70%;
        margin: auto;
        margin-bottom: 50px;

    }

    .banner-aft-background {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 15px;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .banner-aft-background img {
        width: 100%;
    }
 
    .turn-sexy {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .turn-sexy h3 {
        margin: auto;
        margin-right: 0;
    }

    .button1 {
        font-size: 75px;
    }

    .button2 {
        height: 70px;
        width: 70px;
    }





    .gold {
        width: 87%;
        margin: auto;
        margin-left: -6%;
        padding: 10px;
        padding-left: 12%;
        margin-top: 40px;
        height: 70%;
    }

    .yellow {
        width: 87%;
        margin: auto;
        margin-left: -6%;
        padding: 10px;
        padding-left: 12%;
        margin-top: 40px;
        height: 70%;
    }

    .red {
        width: 87%;
        margin: auto;
        margin-top: 40px;
        margin-right: -6%;
        padding: 10px;
        padding-right: 10%;
        margin-left: 6%;
        padding-left: 12px;
        height: 70%;

    }

    .card,
    .card.reverse {
        width: 75%;
        margin: 20px auto;
    }

    .typography-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .typography-div h2:first-child,
    .typography-div h2:last-child {
        font-size: 90px;
    }

    .typography-div img {
        width: 85%;
    }

    .carousel-description {
        margin-bottom: 50px;
    }

    .sw-div {
        width: 87%;
    }

    .cta-banner span {
        display: inline;
    }
 

    .hydation24 {
        width: 20%;
        margin: auto;
        margin-left: 0;
    }

    .cta-banner {
        margin: 75px auto;
    }

  
}



@media only screen and (min-width: 994px) {
    .mobile994 {
        display: none;
    }

    .desktop994 {
        display: block;
    }

    .container994 {
        width: 80%;
        margin: auto;
    }

    .check-my-vybe-brush {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        margin-top: 50px;
    }

    .check {
        width: 100%;
        margin: auto;

    }

    .check-my-vybe h2 {
        font-size: 110px;
        font-family: robotoBold;

    }

    .home-badges img {
        width: 22%;
        margin: auto;
    }


    .home-badges {
        width: 45%;
        margin: auto;
        column-gap: 0;
    }

    .badge {
        width: 150px;
        margin-left: 10%;
        margin-top: -75px;
    }

    .benefits-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card.reverse {
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-auto-flow: dense;
    }

    .reverse img {
        grid-row: 1;
    }

    .card,
    .card.reverse {
        width: 100%;
        margin: 20px auto;
        align-items: flex-end;
    }

    .red,
    .yellow,
    .gold {
        width: 80%;
        margin: auto;
        margin-left: -3%;
        padding: 25px 15px;
        padding-left: 10%;
        margin-top: unset;
        margin-bottom: 0;
        height: 90%;
    }

    .love-summer p {
        width: 75%;
        margin: 20px auto;
    }

    .product-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .product {
        width: 100%;
    }

    .product-cta {
        width: 30%;
        margin-top: -20px;
        z-index: 2;
        position: relative;
    }

    .product h2 {
        font-family: robotoBold;
        font-size: 100px;
    }


    .banner-aft-div {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        width: max-content;
    }

    .formula-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .typography-div {
        width: 75%;
        margin: auto;
    }

    .cta-banner h2 {
        font-size: 85px;
    }

    .last-cta {
        width: 35%;
    }






    .lg-container {
        position: relative;
      }
     
      .lg-image {
        height: 100%;
        width: 100%;
        margin: auto;
      }
     
      .lg-hotspot {
        position: absolute;
        z-index: 0;
      }
     
      .lg-hotspot--selected .lg-hotspot__label {
        opacity: 1;
      }
     
      .lg-hotspot__button {
        z-index: 999;
     
        animation: button-pulse 7s ease-in-out infinite;
     
        cursor: pointer;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background-color: rgb(122 124 127);
        color: white;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
     
      }
     
     
     
      .lg-hotspot__label {
        position: absolute;
        padding: 0 0 1.1em 0;
        width: max-content;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        font-family: "Open Sans", sans-serif;
        z-index: -1;
        border-radius: 2px;
        opacity: 0;
        transition: all 0.1s linear;
      }
     
     
      .lg-hotspot__label p {
        margin: 0;
        padding: 1.1em 24px 0 24px;
        color: #333;
        font-size: 14px;
      }
     
      .lg-hotspot--top-right .lg-hotspot__label {
        top: -44px;
        right: 28px;
      }
     
      .lg-hotspot--bottom-right .lg-hotspot__label {
        top: -44px;
        right: 28px;
      }
     
      
     @keyframes button-pulse {
       0% {
         transform: scale(1, 1);
         opacity: 1;
       }
       40% {
         transform: scale(1.15, 1.15);
         opacity: 1;
       }
       100% {
         transform: scale(1, 1);
         opacity: 1;
       }
     }

     


}



@media only screen and (min-width: 1200px) {
    .cta-banner h2 {
        width: 85%;
    }

    .sw-div {
        width: 85%;
        min-height: 470px;
    }

    .product-grid {
        width: 75%;
        margin: auto;
    }

    .product {
        margin-bottom: 70px;
    }
}


@media only screen and (min-width: 1400px) {
    .sw-div {
        width: 85%;
        min-height: 490px;
    }

    .banner-aft-div h2 {
        font-size: 50px;
    }

    .banner-aft-div p {
        font-size: 30px;
    }

    .product-div h3 {
        font-size: 40px;
    }

    .product-div p {
        font-size: 24px;
    }

    .product-div ul li b {
        font-size: 21px;
    }

    .product-div ul li {
        list-style-type: disc;
        font-size: 17px;
    }

    .product-cta {
        width: 22%;
    }

    .turn-sexy {
        column-gap: 40px;

    }

    .turn-sexy h3 br {
        display: none;
    }

    .switch_container {
        margin-left: 0;
    }

    .turn-sexy h3 {
        margin: auto;
    }

    .turn-sexy {
        display: flex;
        width: 60%;
        flex-direction: row;
        align-items: center;
    }


    .love-summer h2 {
        font-size: 45px;
    }

    .love-summer p {
        font-size: 20px;
    }
    .check-my-vybe ul li h3{
        font-size: 24px;
    }

    .check-my-vybe ul li p{
        font-size: 20px;

    }







}
@media only screen and (min-width: 1600px) {

.sw-div {
    width: 85%;
    min-height: 510px;
}
}

@media only screen and (min-width: 1800px) {
    .container994 {
        width: 70%;
        margin: auto;
    }

    .home-badges img {
        width: 22%;
        margin: auto;
    }
    .home-badges {
        width: 35%;
        margin: auto;
        column-gap: 0;
    }

    .check-my-vybe .last {
        font-weight: 700;
        font-size: 22px;
    }
    .card h3 { 
        font-size: 28px;
    }
    .card h5 { 
        font-size: 18px;
    }
    .black-text { 
        font-size: 18px;
    }

    .card a {
        font-size: 20px;
    }
    .turn-sexy {
        column-gap: 20px;
    }
    .product-grid {
        width: 65%;
    }
  
    .sw-product {
        width: 75%;
    }









}

@media only screen and (min-width: 2000px) {

.sw-div {
    width: 85%;
    min-height: 542px;
}
.discount-badge { 
    margin-left: 40px;
    margin-top: 23px;
}

}

@media only screen and (min-width: 2400px) {
    .sw-div {
        width: 85%;
        min-height: 600px; 
    }

}